

#simInactive{

    display: block;
    position: relative;
   
}


#lightValveOne
{
    display: block;
    position: absolute;
    left: 1300px;
    top:100px;
    height: 70px;
    width: 70px;
}

#lightValveTwo
{
    display: block;
    position: absolute;
    left: 1300px;
    top:200px;
    height: 70px;
    width: 70px;
}

#lightValveThree
{
    display: block;
    position: absolute;
    left: 1300px;
    top:300px;
    height: 70px;
    width: 70px;
}

#textValveThree
{
    display: block;
    position: absolute;
    left: 1180px;
    top:320px;
   
}

#textValveTwo
{
    display: block;
    position: absolute;
    left: 1190px;
    top:220px;
   
}

#textValveOne
{
    display: block;
    position: absolute;
    left: 1190px;
    top:120px;
   
}




body {
    background: lightblue;
  }
  
  #grad1 {
    position: absolute;
    top:45px;
    left:8px;
    width: 840px;
    height: 610px;
    
    transform: rotate(180deg);
    z-index: -1;
  }
  
  #bar {
    width: 840px;
    height: 0px;
    background: blue;
    z-index: -1;
  }
  
  #status {
    font-size: 19px;
    font-weight: bold;
    transform: rotate(180deg);
  }
  
  button{
      font-size:30px;
      margin-left:500px;
      color:lightblue;
      background:grey;
  }


  
.container-center, .container-bottom{
    display: flex;
    position: absolute;
    left: 50%;
    width: 85%;
    height: auto;
    padding: 21px 13px;
    background-color: white;
    box-shadow: 0px 5px 34px rgba(0,0,0,0.1);
    transition: all 0.1s;
  }
  .container-center{
    bottom: 50%;
    transform: translateX(-50%) translateY(50%);
    border-radius: 21px;
    
  }
  .container-bottom{
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 21px 21px 0px 0px;
  }
  /***** For Tablets *******/
  @media screen and (min-width: 480px) {
    .container-center{
      width: 70%;
    }
  }
  
  /***** For Desktop Monitors *******/
  @media screen and (min-width: 768px) {
     .container-center{
      width: 500px;
    }
  }